/* All attempts have been made to place CSS in order of where it first appears in page */

body {
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-size: 12pt;
}

/**************************************************
	Welcome/Header area specific CSS.
***************************************************/


div.section {
	text-align: center;
}

img.welcome_graphic {
	max-width: 100%;
}

h1.welcome_text {
	color: #bc446a; 
	font-weight: 300;
}

div.welcome_selection_menu {
	margin-top: 20px;
}

div.welcome_group_and_sponsors {
	text-align: right; 
	padding-right: 0px;
}

span.welcome_selection_button {
	position: relative;
}

.welcome_selection_button img {
	height: 200px;
}

span.welcome_button_text {
	color: white; position: absolute; 
	font-weight: 700; 
	font-size: 20pt; 
	top: -10px;
}

img.welcome_hexagon_graphic {
	height: 200px;
}

div.welcome_symposium_and_register {
	text-align: left; 
	padding-left: 0px;
}

i.welcome_down_arrow {
	font-size:72pt; 
	margin-top: 20px;
}

/* Media query to make selection buttons work w/ responsive design */
@media (max-width: 992px) {
	div.welcome_group_and_sponsors {
		text-align: center;
		padding-right: 15px;
		padding-bottom: 10px;
	}

	div.welcome_symposium_and_register {
		text-align: center;
		padding-left: 15px;
	}
}

/**************************************************
	Groups specific CSS.
***************************************************/
.groups h1 {
	padding: 10px;
	text-align: center; 
	color: white;
}

.group_row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.group_description {
	padding: 10px;
}

/**************************************************
	Misc CSS.
***************************************************/

.table {
	margin-bottom: 0px;
}

/* Allows for vertical centering of row content */
.center_row {
	display: table;
}

.center {
	display: table-cell;
    vertical-align:middle;
    float:none;
}