body {
	font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
}

p {
	font-size: 12pt;
}

td {
	font-size: 12pt;
}

th {
	font-size: 14pt;
	font-weight: 700;
}

h1 {
	padding: 10px;
	text-align: center; 
	color: white;
	text-shadow: 1px 2px 2px black;
}

h2 {
	text-align: center; 
	color: white;
	text-shadow: 1px 2px 2px black;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3 {
	font-weight: 600;
}

h3 > a {
	text-align: center;
	display: block;
}

h4 > span {
	display: inline-block;
	width: 120px;
	font-weight: 600;
}

.table {
	table-layout: fixed;
}

h1.section_header {
	text-align: left;
}

label {
	font-size: 12pt;
	font-weight: 500;
}

th:first-child {
	text-align: center;
	width: 150px;
}

td:first-child {
	text-align: center;
	width: 150px;
}

@media (max-width: 767px) {
	h1.section_header {
		text-align: center;
	}
}

/**************************************************
	Floating menubar specific CSS.
***************************************************/
#floating_menu {
	top: -300px;
}

.small_hex_container{
  	width:700px;
  	height:100px;
	position: fixed; 
	float: right; 
	z-index: 5; 
	right: 5px;
}

/* Media query to make menubar  work w/ responsive design */
@media (max-width: 767px) {
	.small_hex_container {
		width: 100%;
		right: 0px;
	}

	.half_hexagon {
		float: none !important;
		width: 100% !important;
	}

	.half_hexagon:after {
		display: none;
	}
}

/**************************************************
	Welcome/Header area specific CSS.
***************************************************/
div.section {
	text-align: center;
}

img.welcome_graphic {
	max-width: 100%;
	padding-top: 10px;
}

h1.welcome_text {
	color: #bc446a; 
	font-weight: 300;
	text-shadow: none;
	padding: 0px;
}

div.welcome_selection_menu {
	margin-top: 20px;
}

div.welcome_group_and_sponsors {
	text-align: right; 
	padding-right: 0px;
}

span.welcome_selection_button {
	position: relative;
}

.welcome_selection_button img {
	height: 200px;
}

span.welcome_button_text {
	color: white; position: absolute; 
	font-weight: 700; 
	font-size: 20pt; 
	top: -10px;
}

img.welcome_hexagon_graphic {
	height: 200px;
}

div.welcome_symposium_and_register {
	text-align: left; 
	padding-left: 0px;
}

i.welcome_down_arrow {
	font-size:60pt; 
	margin-top: 10px;
}

/* Media query to make selection buttons work w/ responsive design */
@media (max-width: 992px) {
	div.welcome_group_and_sponsors {
		text-align: center;
		padding-right: 15px;
		padding-bottom: 10px;
	}

	div.welcome_symposium_and_register {
		text-align: center;
		padding-left: 15px;
	}

	.tableCell {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/**************************************************
	Groups specific CSS.
***************************************************/
.groups {
	background: #b5c33f;
}


.group_row {
	margin-top: 30px;
	margin-bottom: 40px;
}

.group_description {
	padding: 10px;
	background: white; 
	border-radius: 10px;
	text-align: left;
}

/* For the small pics */
.xs-group-image {
    padding: 0px 15px 5px;
    width: 100% !important;
}

/**************************************************
	Sponsor specific CSS.
***************************************************/
.sponsors {
	background: #cdbd42;
}


/**************************************************
	Symposium specific CSS.
***************************************************/
.symposium {
	background: #8a586e;
}

.symposium a {
	font-weight: 500;
	color: white;
}

.symposium p {
	color: white;
	font-size: 18pt;
	font-weight: 300;
}

.symposium .group_description {
    margin-bottom: 5%;
}

span.intro {
	font-weight: 700;
	width: 125px; 
	display: inline-block;
	vertical-align: top;
}

span.information {
	display: inline-block;
}

@media (max-width: 1200px) {
	#map {
		width: 400px;
	}
}

/**************************************************
	Registration specific CSS.
***************************************************/
.registration {
	background: #b45340;
}

.registration p {
	color: white;
	font-size: 18pt;
	font-weight: 300;
	text-align: center;
}

.registration button { 
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.registration .group_row {
    margin-bottom: 5% !important;
}

.form-group {
	margin-left: 0px;
	margin-right: 0px;
}

/**************************************************
    Footer CSS.
***************************************************/
#footer {
    background-color: #555;
}

#footer-content {
    color: #c6c6c6;
    float: right;
    margin-top: 30px;
    margin-bottom: 5px;
}

/**************************************************
	Misc CSS.
***************************************************/
.table {
	margin-bottom: 0px;
}

.container-fluid {
    padding: 0;
    margin: 0 auto !important;
    width: 100% !important;
}

/* Allows for vertical centering of row content */
.center_row {
	display: table;
}

.center {
	display: table-cell;
    vertical-align:middle;
    text-align: center;
    float: none;
}


@media (max-width: 992px) {
	.center {
		float: left;
	}
}

/**************************************************
	Hexagon CSS.
***************************************************/
.welcome_hex_container{
	width:200px;
	height:200px;
}

/* Container for half hexagon */
.half_hexagon {
   width: 25%; 
   height: 50%; 
   background: transparent;
   float:left;
   box-shadow: 0px 0px 100px;
 }

 .half_hex_center_box{
	height:50px;
	position: relative;
}
.half_hexagon:after {
   height: 0;
   width: 0px;
   content:"";
   position: absolute; 
   /* quarter of the width or height */
   border-top: 50px;
   border-top-color: #b5c531;
   border-top-style: solid;
   /* Half of the width or height */
   border-left: 88px;
   border-left-color: rgba(255,255,255,0);
   border-left-style: solid; 
   border-right: 88px;
   border-right-color: rgba(255,255,255,0);
   border-right-style: solid;
   margin-top: 0px;  
}
.half_hexagon_text {
	/* Text size is 15% */
	font-size: 20px;
	font-weight: bold;
	font-family: 'Helvetica';
	text-align: center;
	position:absolute;
	/* margin top is 42.5% and margin right is 10% */
	margin-top: 20px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 0px 1px rgba(255,255,255,.4);
}

/* Container for full hexagon */
.hexagon {
   width: 90%; 
   height: 75%; 
   background-color: white;
   text-align: start;
}

.hex_center_box{
	height:100px;
	top:50px;
	position: relative;
}

.hexagon:before {
   height: 0;
   width: 0px;
   content:"";
   position: absolute;
   /* quarter of the width or height */
   border-bottom: 50px;
   border-bottom-color: #b5c531;
   border-bottom-style: solid;
   /* Half of the width or height */
  border-left: 90px;
   border-left-color: rgba(255,255,255,0);
   border-left-style: solid; 
   border-right: 90px;
   border-right-color: rgba(255,255,255,0);
   border-right-style: solid;
}
.hexagon:after {
   height: 0;
   width: 0px;
   content:"";
   position: absolute;
   /* quarter of the width or height */
   border-top: 50px;
   border-top-color: #b5c531;
   border-top-style: solid;
   /* Half of the width or height */
   border-left: 90px;
   border-left-color: rgba(255,255,255,0);
   border-left-style: solid; 
   border-right: 90px;
   border-right-color: rgba(255,255,255,0);
   border-right-style: solid;
   /* 80% of the width or height */
   margin-top: 50px;  
}
.hexagon_text {
	/* Text size is 15% */
	color: white;
	font-weight: 700;
	font-size: 20pt;
	text-align: center;
	position:absolute;
	/* margin top is 42.5% and margin right is 10% */
	width: 100%;
	text-align: center;
}

#right_hex_container{
	display: inline-block;
}

#left_hex_container{
	display: inline-block;
}

/* Default color for all groups_hexagon */
.groups_hexagon .half_hex_center_box{
	background-color: #b5c531;
}
.groups_hexagon .hex_center_box{
	background-color: #b5c531;
}
.groups_hexagon:before{
	border-bottom-color: #b5c531;
}
.groups_hexagon:after{
	border-top-color: #b5c531;
}

/* Default color for all sponsors_hexagon */
.sponsors_hexagon .half_hex_center_box{
	background-color: #cebe35;
}
.sponsors_hexagon .hex_center_box{
	background-color: #cebe35;
}
.sponsors_hexagon:before{
	border-bottom-color: #cebe35;
}
.sponsors_hexagon:after{
	border-top-color: #cebe35;
}

/* Default color for all symposium_hexagon */
.symposium_hexagon .half_hex_center_box{
	background-color: #8b576e;
}
.symposium_hexagon .hex_center_box{
	background-color: #8b576e;
}
.symposium_hexagon:before{
	border-bottom-color: #8b576e;
}
.symposium_hexagon:after{
	border-top-color: #8b576e;
}

/* Default color for all register_hexagon */
.register_hexagon .half_hex_center_box{
	background-color: #b6533c;
}
.register_hexagon .hex_center_box{
	background-color: #b6533c;
}
.register_hexagon:before{
	border-bottom-color: #b6533c;
}
.register_hexagon:after{
	border-top-color: #b6533c;
}
